name: CI
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
env:
  NIXPKGS: github:NixOS/nixpkgs/nixos-25.11
jobs:
  QA:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@v3.15.2
      - name: Cache Python dependencies
        id: cache-python
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements/dev.txt') }}
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/dev.txt
      - name: Check up-to-date syntax of Python files (pyupgrade)
        run: pyupgrade --py312-plus **/*.py
      - name: Check format of Python files (ruff)
        run: ruff format --check
      - name: Check import order & lints of Python files (ruff)
        run: ruff check --select I
      - name: Check type hints of Python files (mypy)
        run: mypy --strict .
      - name: Check lints of Python files (pylint)
        run: pylint .
      - name: Check security of Python files (Bandit)
        run: bandit -r -x ./apps/auth/tests,./apps/github/tests,./apps/shared/tests,./apps/status/tests --skip B106 .
      - name: Scan secrets
        run: nix shell ${{ env.NIXPKGS }}#gitleaks --command gitleaks git --no-banner --verbose
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Cache Python dependencies
        id: cache-python
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements/dev.txt') }}
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/dev.txt
      - name: Test (pytest)
        run: pytest
